.THIS {
    border-bottom: solid 1px #dddddd;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #ffffff;
    height: 100%;
}

.THIS a {
    display: block;
    padding: 20px;
    color: inherit;
}

.THIS a:active {
    background-color: #E8F4FB;
}
